@media only screen and (min-width: 1300px) {
    .header {
        .search_media,
        .search_media.active {
            display: none;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .main {
        &_container {
            max-width: calc(100% - 60px);
        }

        &_title {
            font-size: 22px;
            line-height: 26px;
        }
    }

    .breadcrumb {
        a,
        span {
            font-size: 12px;
            list-style: 18px;
        }
    }

    .header {
        &_search_desktop {
            width: 400px;
        }
    }

    .last_added {

        &_btns {
            display: none;
        }

        &_card {
            gap: 12px;
            padding: 16px;

            &_top {
                gap: 16px;

                img {
                    width: 68px;
                    height: 98px;
                    border-radius: 4px;
                }
            }
        }

        h6 {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 12px;
        }

        p {
            font-size: 12px;
            line-height: 18px;
        }
    }

    .category {
        .btn_white {
            padding: 16px 20px;
            font-size: 16px;
            line-height: 20px;
        }
    }

    .services {
        &_card {
            padding: 24px;
        }

        h6 {
            font-size: 18px;
            line-height: 23px;
        }

        p {
            font-size: 12px;
            line-height: 18px;
        }
    }

    .category_block {
        .card_btns {
            .date, .date_line {
                display: none;
            }
        }
    }

    .footer {
        &_top {
            padding: 40px 0;
            flex-direction: column;
        }
        
        a {
            font-size: 12px;
            line-height: 21px;
        }

        .category {
            &_list {
                width: calc(100% / 3 - 15px);
            }
        }

        .about_list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px;
        }
    }
}

@media only screen and (max-width: 993px) {

    .mb-48 {
        margin-bottom: 40px;
    }

    .btn {
        &_white {
            font-size: 12px;
            line-height: 18px;
        }

        &_blue {
            font-size: 12px;
            line-height: 18px;
        }
    }

    .header {

        .main_container {
            padding: 16px 0;
        }

        &_search_desktop {
            display: none !important;
        }

        .search_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            margin-right: 20px;

            img {
                width: 100%;
            }
        }

        &_btns {
            a {
                height: 46px;
                width: 120px;

                img {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    .home {
        background-image: url('../images/home_table_bg.png');
        text-align: center;

        &_in {
            padding-top: 40px;
            gap: 40px;
            flex-direction: column-reverse;
        }

        h1 {
            font-size: 40px;
            line-height: 48px;
        }

        p {
            font-size: 18px;
            line-height: 23px;
        }

        &_btns {
            justify-content: center;

            a {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }

    .nav {
        .main_container {
            padding: 16px 0;
        }

        a {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .footer {
        .about_list {
            gap: 12px 24px;
        }

        .category {
            &_lists {
                gap: 12px;
                flex-wrap: wrap;
            }

            &_list {
                gap: 12px;
                width: calc(100% / 2 - 7px);
            }
        }

        .list_blocks {
            display: none;
        }


        .media_list_blocks {
            width: 100%;
            display: flex;
            gap: 12px;

            .category_list_block {
                width: calc(100% / 2 - 7px);
            }
        }
    }
}

@media only screen and (min-width: 650px) {
    .media_menu {
        display: none;
    }
}

@media only screen and (max-width: 650px) {

    .main {
        &_container {
            max-width: calc(100% - 32px);
        }

        &_title {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .header {
        border-bottom: 1px solid $color-line;

        .burger {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_logo {
            max-width: 171px;
        }

        &_btns {
            gap: 24px;
            a {
                display: none;
            }
        }

        .search_btn {
            margin-right: 0;
        }

        .search_media {
            top: 100%;
            border-top: 1px solid $color-line;
            border-bottom: 1px solid $color-line;
        }
    }

    .nav {
        display: none;
    }

    .home {
        background-image: url('../images/home_media_bg.png');

        &_in {
            padding-top: 32px;
            gap: 32px;
        }

        h1 {
            font-size: 28px;
            line-height: 33px;
        }

        p {
            margin: 16px 0 24px;
            font-size: 16px;
            line-height: 20px;
        }

        &_btns {

            a {
                width: calc(100% / 2);
                font-size: 14px;
                line-height: 21px;
            }
        }
    }

    .category {
        .btn_white {
            padding: 16px 18px;
            font-size: 14px;
            line-height: 21px;
        }
    }

    .services {
        &_card {
            padding: 20px;
        }

        h6 {
            margin: 20px 0 16px 0;
            font-size: 16px;
            line-height: 20px;
        }
    }

}